/*It works for all the pages*/
html { font-size: 100% !important }
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background:#dcedc8;
  color: #000;
  padding-top: 3rem;
  scroll-behavior: smooth;
  /*font-family: "Avenir Next",Avenir,Segoe UI,"Helvetica Neue",Helvetica, sans-serif;
  padding-bottom: 3rem; color: #5a5a5a;*/
}
/*.navbar{margin-bottom: 0;border-radius: 0;color: rgba(255,255,245,.5);}*/
h2{
  padding: 10px 0 10px 5px;
  border-left:5px solid green;
  background:#dcedc8;
}
.card{
  /*background: #e6ee9c;margin-bottom: 20px;
  margin-top: 20px;padding: 10px;
  height: 50px; color: #000000;
  font-weight: bold;*/
  border-width: 2px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
/*Cards
.mb-3 img:hover{
  //border-color: green;
  //border-width: 1px;//border: 4px solid green;
  transform: scale(1.03);
}*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
#cards:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*empty card #vacio{  border-style: none;background:#e0f2f1;}*/
.tel{
  margin-top:28px;
  /*position: fixed;*/
  top:0;
  border-radius: 0px;
}
.opacity{
  text-decoration: none;
  transition: all 0.2s;
}
.opacity:hover{
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  filter:alpha(opacity=70);
  /*animation: sheen infinite .5s ease-in-out;
  transform: rotate(-7deg);*/
  transform: scale(1.03);
}
#list {margin-left: -25px;}
#list li{
  list-style-type: none;
  padding:6px 10px 6px 10px;
  font-weight: bold;
  display: block;
  color: #a8a7a9;
}
a{
  color:#a8a7a9;
  text-decoration: none;
}
a:hover{
  color:#4caf50;
  text-decoration: none;
}
/*the following id might not be necessary*/
#divlink li {
  list-style-type: none;
  display: inline;
  margin-right:40px;
  margin-left:-30px;
}
.setLocation{
  margin-left: 15px;
  border-bottom: 2px solid #bcbcbd;
  padding-bottom: 7px;
}
#tab-main{
  background-color:#555;
  color: white;
}
#cal{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 30px;
}
/*Top Page rounded button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 350px;/*position respect to bottom*/
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 1px;
  -moz-border-radius: 70px;
  -webkit-border-radius:70px;
  border-radius: 70px;/*4px;*/
  width: 50px;height: 50px;
}
#myBtn:hover {
  background-color: green;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#myBtn:before{
  /*font-family: "Font Awesome 5 Free";
  font-weight: 900; font-size: 1em;
  content: "\f077";//only works with::before and ::after*/
  font-size: 2em;
  content:"\22bc";  
}
.defss{
  display: none;
}
/* use Container style:; it depends upon the client.*/
.container {
    background: #FFFFFF;
    margin: 20px auto;
    padding:15px 40px 10px;
    max-width: 1000px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.featurette{margin-top:30px;}
#rikunavi{ width: 50%;}
/*table like list*/
dl {/*width: 100%;overflow: hidden;background: #ff0;*/
  padding: 10px 5px 10px;
}
dt {/*adjust width;the total of both (dt,dd)mustbe 100%*/
  width: 18%;
  background:rgb(240, 240, 240);
  margin-right: 10px;
}
dd {/*adjust width;the total of both (dt,dd)shouldbe 100%*/
  width: 78%;
  border:1px solid lightgray;
}
dt,dd{
  float:left;
  padding: 20px;
  box-sizing: border-box;
}
/*footer for every single page,
isn't better to use an iframe "pie_pag.html" instead?*/
footer{
  background-color: #000000;
  padding: 25px;
  color: white;
  margin-top:20px;
}
.icono{/*profile questions icon*/
	width: 42px;
	height: 42px;
}
.icon2{/*addr icons*/
	width: 20px;
	height: 20px;
}
.sns_icon{/*fb and linked icons*/
	width:36px;
}
.sns_icon:hover{fill:#4caf50;}
.menu_sns{
  fill:#bcbcbd;
  width: 26px;
}
.carousel-inner img {
  width: 100%;
  /*margin: auto;*/
  height:100%;
}
/*Settings when screen < 600 px wide*/
@media (max-width: 600px) {
  .carousel-caption {display: none;}
  .navbar-brand{width: 50%;/*height:100px;*/}
  #gmain{font-size: 0px;}
  #rikunavi{width: 100%;margin-bottom: 15px;}
  #datos{display: none;}
  dl{padding: 0;}
  dt{
    width: 100%;
    padding: 0 0 0 10px;
    max-height: 25px;
  }
  dd{
    width: 100%;
    padding:10px;
    border:0;
    margin:0px;/*background:#e0f2f1;*/
    /*border-top:2px solid red;
    border-bottom: 1px dotted black;*/
  }
  dt.hora{width:100%;min-height: 100px;
    border-top: 1pt dotted black;}
  dd.todo,dd.sch_img{width:95%;}
  /*{width:100%;}*/
  .container{
    padding: 15px 20px 10px;
    /*margin:0px auto;*/
  }
  /*#pie{height:965px; }
  .sns{display: inline;}*/
  .tel{
    display: none;
  }
}
@media (min-width: 40em) {
  /* Bump up size of carousel content*/
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 30px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 3rem;/*7rem;*/
  }
}
/* Carousel base class */
.carousel {
  margin-bottom: 1rem;
}
/* Since positioning the image, 
we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
/* MARKETING CONTENT-------- */
/* Center align the text within the 3 cols below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2, .marketing h3{
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* Featurettes----- */
.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  /*border-left:3px solid green;
  background:blue;*/
}
/*@media only screen and (max-width: 268px) {
  .navbar-inverse {
    background-color: red;
    border-color: transparent;
    height: 100px;
  }
}
.navbar-inverse {
  background-color: #000;
  border-color: transparent;
  height: 70px;
}*/
